@page "/listing"
@using Core.Models;
@using System.Text.Json
@using MongoDB.Driver.Core.Operations
@inject HttpClient Http;
@inject NavigationManager navigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStore

<h3>Listings</h3>

<div>
    <div class="col-md-3 mb-3">
        <InputSelect @bind-Value="selectedCategory" class="form-control">
            test
            <option value="Elektronik">Elektronik</option>
            <option value="Clothing">Clothing</option>
            <option value="Books">Books</option>
        </InputSelect>
    </div>

    <div class="col-md-3 mb-3">
        <InputSelect id="Location" @bind-Value="selectedLocation" class="form-control">
            @foreach (var location in _locations)
            {
                <option value="@location.Name">@location.Name</option>
            }
        </InputSelect>
    </div>
</div>

<div class="col-3 mb-3">
    <button class="btn btn-primary" @onclick="FilterByCategory">Filter by Category</button>
</div>

<div class="col-3 mb-3">
    <button class="btn btn-primary" @onclick="FilterByLocation">Filter by Location</button>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Date Posted</th>
        <th>Category</th>
        <th>Purchase</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in listingList ?? new Listing[0])
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Price</td>
            <td>@item.Description</td>
            <td>@item.DatePosted.DayOfWeek</td>
            <td>@item.Category</td>
            <td><button class="btn btn-primary" @onclick="() => OpenPurchaseDialog(item)">Purchase</button></td>
        </tr>
    }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="() => addDialog.Open()">Add Item</button>

<!-- Purchase Modal Dialog -->
<ModalDialog @ref="@purchaseDialog" Title="Confirm Purchase">
    <div class="row p-3">
        <div class="col-md-12 mb-3">
                    <strong>Title:</strong>
                    <p>@currentListing?.Title</p>
                </div>
                <div class="col-md-12 mb-3">
                    <strong>Price:</strong>
                    <p>@currentListing?.Price.ToString()</p>
                </div>
                <div class="col-md-12 mb-3">
                    <strong>Description:</strong>
                    <p>@currentListing?.Description</p>
                </div>
                <div class="col-md-12 mb-3">
                    <strong>Date Posted:</strong>
                    <p>@currentListing?.DatePosted.ToString("yyyy-MM-dd")</p>
                </div>
                <div class="col-md-12 mb-3">
                    <strong>Category:</strong>
                    <p>@currentListing?.Category</p>
                </div>
                <div class="col-md-12 mb-3">
                    <strong>Status:</strong>
                    <p>@currentListing?.Status</p>
                </div>
                <div class="col-md-12 mb-3">
                    <strong>Location:</strong>
                    <p>@currentListing?.Location?.Name</p>
                </div>
        <div class="col-12 mb-3">
            <button class="btn btn-success" @onclick="ConfirmPurchase">Confirm My Purchase</button>
            <button class="btn btn-secondary" @onclick="() => purchaseDialog.Close()">Cancel</button>
        </div>
    </div>
</ModalDialog>

<ModalDialog @ref="@addDialog" Title="Add Item to shoppinglist">

    <EditForm EditContext="@aEditContext" class="row p-3" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-md-12 mb-3">
            <label for="Title">Title</label>
            <InputText id="Title" @bind-Value="listingItem.Title" class="form-control" />
        </div>
        <div class="col-md-6 mb-3">
            <label for="Price">Price</label>
            <InputNumber id="Price" @bind-Value="listingItem.Price" class="form-control" />
        </div>
        <div class="col-md-6 mb-3">
            <label for="Status">Status</label>
            <InputSelect id="Status" @bind-Value="listingItem.Status" class="form-control">
                <option value="Available">Available</option>
                <option value="Unavailable">Unavailable</option>
                <option value="Sold">Sold</option>
            </InputSelect>
        </div>
        <div class="col-md-12 mb-3">
            <label for="Description">Description</label>
            <InputText id="Description" @bind-Value="listingItem.Description" class="form-control" />
        </div>
        <div class="col-md-6 mb-3">
            <label for="Category">Category</label>
            <InputSelect id="Category" @bind-Value="listingItem.Category" class="form-control">
                <option value="Elektronik">Elektronik</option>
                <option value="Clothing">Tøj</option>
                <option value="Books">Bøger</option>
            </InputSelect>
        </div>
        <div class="col-md-6 mb-3">
            <label for="Location">Location</label>
            <InputSelect id="Location" @bind-Value="_selectedLocationIndex" class="form-control">
                @foreach (var location in _locations)
                {
                    <option value="@_locations.IndexOf(location)">@location.Name</option>
                }
            </InputSelect>
        </div>


        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>


    </EditForm>

</ModalDialog>

@code {
    private string serverUrl = "https://localhost:7231";

    private User? user;

    string selectedCategory = "Electronics";

    string selectedLocation = "Lokale 1";

    private Listing[]? listingList = new Listing[0];

    private Listing listingItem = new Listing();

    private Order orderItem = new Order();


    private Listing? currentListing;

    private ModalDialog? purchaseDialog;

    private EditContext? aEditContext;

    private List<Location> _locations = new();
    private int _selectedLocationIndex;

    protected override async Task OnInitializedAsync()
    {
        aEditContext = new EditContext(listingItem);
        var userInfoJson = await localStore.GetItemAsStringAsync("userinfo");
        if (!string.IsNullOrEmpty(userInfoJson))
        {
            user = JsonSerializer.Deserialize<User>(userInfoJson);
        }

        listingList = await Http.GetFromJsonAsync<Listing[]>($"{serverUrl}/api/listing/getall");
        _locations = await Http.GetFromJsonAsync<List<Location>>($"{serverUrl}/api/location/getAllLocations");
    }

    public async Task HandleValidSubmit()
    {
        await AddListingItem();
        addDialog.Close();
        listingList = await Http.GetFromJsonAsync<Listing[]>($"{serverUrl}/api/listing/getall");
    }

    private async Task AddListingItem()
    {
        listingItem.User = user;
        listingItem.DatePosted = DateTime.Now;
        listingItem.Location = _locations[_selectedLocationIndex];
        await Http.PostAsJsonAsync<Listing>($"{serverUrl}/api/listing/add", listingItem);
        Console.WriteLine("Klient: add " + listingItem.Title + " " + listingItem.Price);
        listingItem = new(); // clear fields in form
    }

    private ModalDialog? addDialog { get; set; }

    private async Task FilterByCategory()
    {
        var url = $"{serverUrl}/api/listing/getbyfilter?category={selectedCategory}";
        listingList = await Http.GetFromJsonAsync<Listing[]>(url);
        StateHasChanged();
    }

    private async Task FilterByLocation()
    {
        var url = $"{serverUrl}/api/listing/getbylocation?location={selectedLocation}";
        listingList = await Http.GetFromJsonAsync<Listing[]>(url);
        StateHasChanged();
    }

    private void OpenPurchaseDialog(Listing listing)
    {
        currentListing = listing;
        purchaseDialog.Open();
    }

    private async Task ConfirmPurchase()
    {
        Console.WriteLine(currentListing.Title);
        orderItem.User = user;
        orderItem.Listings = currentListing;
        orderItem.OrderDate = DateTime.Now;

        await Http.PostAsJsonAsync<Order>($"{serverUrl}/api/order/add", orderItem);
        Console.WriteLine();
    }

    //private async Task ConfirmPurchase()
    //{
    //    var order = new Order
    //    {
    //        User = user,
    //        Listings = new List<Listing> { currentListing },
    //        OrderDate = DateTime.UtcNow
    //    };
    //    Console.WriteLine("Order data being sent:", JsonSerializer.Serialize(order));

    //    var response = await Http.PostAsJsonAsync($"{serverUrl}/api/order/add", order);

    //    if (response.IsSuccessStatusCode)
    //    {
    //        Console.WriteLine("Order successfully placed");
    //        purchaseDialog.Close();
    //        // Optionally, refresh the orders list or navigate the user
    //        navigationManager.NavigateTo("/orders");



    //    }
    //    else
    //    {
    //        Console.WriteLine("Failed to place order");
    //    }
    //}

}